<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show People</title>
</head>
<body>
    <ul style="list-style-type: square;">
        <li th:each="person : ${people}">
            <a th:href="@{/people/{id}(id=${person.getId()})}"
            th:text="${person.getName() + ' ' + person.getSurname()}">name surname</a>
        </li>
    </ul>

    <hr/>

    <form th:method="GET" th:action="@{/people/new}">
        <input type="submit" value="NEW"/>
    </form>

    <br/>

    <form th:method="DELETE" th:action="@{/people}">
        <input type="submit" value="DELETE ALL"/>
    </form>

    <br/>

    <a href="/" style="background-color: aqua">BACK</a>
</body>
</html>