<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>

    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
        <input type="hidden" name="actionType" value="edit"/>

        <label for="title">Enter title:</label>
        <input id="title" type="text" th:field="*{title}"/>

        <br/>

        <label for="author">Enter author:</label>
        <input id="author" type="text" th:field="*{author}"/>

        <br/>

        <label for="year">Enter year of release:</label>
        <input id="year" type="number" th:field="*{year}"/>

        <br/><br/>

        <input type="submit" value="UPDATE"/>
    </form>

    <br/>

    <a th:href="@{/books/{id}(id=${book.getId()})}" style="background-color: aqua">BACK</a>
</body>
</html>